@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('reset.css');

h1, h2, p, a {
    font-family: 'Roboto', sans-serif;
    color: #2d3141;
}

main {
    border: solid 1px #e6e6e6;
    width: 25rem;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin: 5rem;
}

h1 {
    background-color: #efeeff;
    color: #7d73ef;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    width: fit-content;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    align-self: flex-start;
    margin-block: 1rem;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    margin-block: 1rem
}

p {
    font-size: 18px;
    margin-block: 0.5rem;
}

.user_rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1rem;
}

.rate {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user {
    display: flex;
    gap: 0.2rem;
    align-items: center;
}

.user1, .user2, .user3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: -7px;
}

.icones {
    display: flex;
}

.user1 {
    background-color: #ffedef;
}

.user2 {
    background-color: #d2eff3;
}

.user3 {
    background-color: #fc909f;
}

button {
    background-color: #54a0ff;
    border-radius: 20px;
    border: none;
    padding-inline: 1rem;
}

button>p{
    color: white;
}

.media {
    display: flex;
    border: solid 1px #e6e6e6;
    border-radius: 30px;
    justify-content: center;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    margin-block: 1rem;
}

#attachment, #comment {
    display: flex;
    align-items: center;
    gap: 0.5rem
}

hr {
    color: #e6e6e6;
}

.bi-check-circle {
    width: 1.3rem;
    height: 1.3rem;
}

.bi-chat-square-dots-fill, .bi-link-45deg {
    width: 1rem;
    height: 1rem;
}

.bi-link-45deg {
    color: white;
    background-color: black;
    padding: 0.1rem;
    border-radius: 50%;
}